

/*QUESTIONS*/

#divCheckoutQuestions {
   padding-top: 15px;
   padding-bottom: 40px;
}

.chkQuestions .required {
   display: inline-block;
}


/*Payments*/

#divPaymentMethods > div {
   clear: both;
}

#divPaymentMethods > div > h4 {
   background: #f5f5f5;
   font-size: 12px;
   padding: 11px 15px 11px;
   line-height: 18px;
   font-weight: 700;
   margin: 0 0 10px;
}

#divPaymentMethods > div > h4 > .radio {
   padding-top: 0;
   min-height: auto;
}

#divPaymentMethods > div > h4 > .radio > label {
   line-height: 20px;
   font-weight: 700;
}


/*paypal express Gateway*/

.ppExpress > .desc-message {
   padding-top: 5px;
   padding-bottom: 10px;
}

.ppExpress > .ppe-radio {
   margin-bottom: 25px;
   line-height: 20px;
}

.ppExpress > .ppe-radio > label > input {
   top: 50%;
   -moz-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -0-transform: translateY(-50%);
   transform: translateY(-50%);
}

.ppExpress > .ppe-radio > label > .payment-desc > img {
   margin-right: 10px;
}


/* MasterPass Wallet */

.checkoutMasterPass {
   margin-bottom: 15px;
}

.checkoutMasterPass a {
   display: inline-block;
   font-size: 11px;
   margin: 2px 0;
}


/* PayPal Advance Gateway */

.ppAdv {
   margin-bottom: 15px;
}

.ppAdv input[type="radio"] {
   margin: 0 5px;
}


/* AuthentCIM Gateway */

.authneticIMBlock {
   margin-bottom: 15px;
}


/* FuturePay Gateway */

.fpay {
   margin-bottom: 15px;
}

.fpay .desc-message {
   padding: 10px;
}

.fpay-radio {
   float: left;
   line-height: 35px;
   margin: 0 5px;
   padding: 5px 0 0;
   overflow: hidden;
}

.fpay-logo {
   float: left;
   margin: 0 5px 0 0;
   width: 108px;
}

.fpay .payment-desc {
   float: left;
   line-height: 50px;
   margin: 0;
}

.fpay .payment-desc_v2 {
   float: left;
   margin: 0;
   width: 150px;
}

.fpay-logo_v2 {
   float: left;
   margin: 0 5px 0 0;
}


/* WePay Gateway */

.wpay {
   margin-bottom: 15px;
}

.wpay .desc-message {
   padding: 10px;
}

.wpay-radio {
   float: left;
   margin: 0 5px;
   padding: 19px 0 0;
   overflow: hidden;
}

.wpay-logo {
   float: left;
   margin: 0 5px 0 0;
   padding: 0;
}

.wpay .payment-desc {
   float: left;
   line-height: 50px;
   margin: 0;
}

.wpay .payment-desc_v2 {
   float: left;
   margin: 0;
   width: 150px;
}

.wpay-logo_v2 {
   float: left;
   margin: 0 5px 0 0;
}

.wpay .payment-desc {
   display: none;
}


/* Affirm Gateway */

.affirm {
   margin-bottom: 15px;
}

.affirm .desc-message {
   padding: 0px;
}

.affirm-radio {
   float: left;
   line-height: 35px;
   margin: 0 5px;
   padding: 1px 0 0;
   overflow: hidden;
}

.affirm-logo {
   float: left;
   margin: 0 5px 0 0;
   width: 108px;
}

.affirm .payment-desc {
   float: left;
   line-height: 50px;
   margin: 0;
}


/* Credit Cards Gateways */

.cimField {
   margin: 10px 0 0 15px;
}

.ccGateway {
   margin-bottom: 10px;
}

.ccgField {
   margin-top: 10px;
   clear: both;
   overflow: hidden;
}

.ccgField label {
   display: block;
   line-height: 1.8em;
   margin-right: 10px;
}

.ccgField input.form-control {
   display: inline-block;
   vertical-align: middle;
}

.ccgField select {
   float: left;
   margin-right: 7px;
   max-width: 100%;
}

.ccgField select.ocardexpiresmonth,
.ccgField select.ocardexpiresyear {
   width: 100px;
}

.ccgField img {}

.ccgField .cvv2-help {
   float: left;
   margin-left: 5px;
   display: block;
   line-height: 2.9em;
}

.ccgField.savecc-field {
   margin-bottom: 20px;
}


/* Klarna Gateway */

.klarnaInvoice,
.klarnaAccount {
   margin-bottom: 15px;
}

.klarna-invoice-radio {
   float: left;
   line-height: 35px;
   margin: 0 5px;
   padding: 8px 0 0 0;
   overflow: hidden;
}

.klarna-invoice-logo img {
   float: left;
   margin: 0 5px 0 0;
}

.klarna-invoice-logo span {
   float: left;
   line-height: 35px;
   display: block;
   margin: 0;
}

#klarna_invoiceterms {
   margin: 0 0 0 30px;
}

.klarnaField {
   margin-bottom: 10px;
}

.klarnaField .label {
   float: left;
   width: 150px;
   text-align: right;
   line-height: 2.9em;
   margin-right: 10px;
}

.klarna-invoice-details {
   margin: 10px 0 10px 30px;
}

.klarna-account-radio {
   float: left;
   line-height: 35px;
   margin: 0 5px;
   padding: 8px 0 0 0;
   overflow: hidden;
}

.klarna-account-logo img {
   float: left;
   margin: 0 5px 0 0;
}

.klarna-account-logo span {
   float: left;
   line-height: 35px;
   display: block;
   margin: 0;
}

.klarna-account-details {
   margin: 10px 0 10px 30px;
}

#klarna_accountterms {
   margin: 0 0 0 30px;
}

#afm_banner {
   margin: 10px 0 5px 30px;
}


/* Link Gateway */

.linkGateway {
   margin-bottom: 15px;
}

.linkGateway .payment-desc {
   padding: 10px;
}


/* eLayaway Gateway */

.elayawayGateway {
   margin-bottom: 15px;
}

.elayawayGateway .desc-message {
   margin: 10px 0 10px 30px;
}

.divElayaway {
   margin: 0 0 0 30px;
}


/* Military Star */

.militaryStar {
   margin-bottom: 15px;
}

.msField {
   margin-top: 10px;
}

.msField label {
   line-height: 2.9em;
   margin-right: 10px;
}

.msField input {
   float: left;
}

.msField img {
   float: left;
   padding: 8px 0 0 6px;
}


/* GE Money */

.geMoney {
   margin-bottom: 15px;
}

.gmField {
   margin-top: 10px;
}

.gmField label {
   line-height: 2.9em;
   margin-right: 10px;
}

.gmField input {
   float: left;
}

.gmField img {
   float: left;
   padding: 8px 0 0 6px;
}


/* Check Gateway */

.chkGateway {
   margin-bottom: 15px;
}


/* Custom Gateway */

.customGateway .payment-type {
   padding: 5px 0 10px;
}

.customGateway .custField {
   padding-bottom: 20px;
}

.customGateway .custField > .cust-input {
   display: inline-block;
   padding-right: 10px;
}

.customGateway .custField > .cust-field {
   display: inline-block;
}


/* V.ME Not Selected */

#divVmeNotSelected {
   margin-bottom: 15px;
}


/* Insurance Costs */

.divInsurance {
   margin-bottom: 15px;
}

.divInsurance h4 {
   background: #EAE9E9;
   background: rgba(234, 233, 233, 0.3);
   background-color: #EAE9E9;
   background-color: rgba(234, 233, 233, 0.3);
   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99EAE9E9, endColorstr=#99EAE9E9);
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99EAE9E9, endColorstr=#99EAE9E9)";
   font-size: 100%;
   padding: 5px;
}

.divInsurance .insurField {
   margin-bottom: 10px;
}

.divInsurance .insurField input {
   float: left;
   margin: 3px 15px 0 0;
   padding: 0;
   width: 15px;
}

.divInsurance .insurField label {
   float: left;
   display: block;
   width: 90%;
}

